
.vertical-center
  .container
    .row
      .col-xs-12.text-center
        .col-xs-7
          = image_tag "johnny.png", class: "img-responsive"
        .col-xs-5
          %h1 Zaplanuj dietę i trening
          %br
          = form_for @diet_form, :url => url_for(:controller => 'diet_forms', :action => 'create'), remote: true do |f|
            .row
              .col-xs-3.text-left
                = f.label 'Imię:'
              .col-xs-9.pull-left
                = f.text_field :first_name, :class => "form-control", :required => true, placeholder: 'Imię', value: 'testImie'
              - 2.times do
                %br
              .col-xs-3.text-left
                = f.label 'Nazwisko:'
              .col-xs-9.pull-left
                = f.text_field :last_name, :class => "form-control", :required => true, placeholder: 'Nazwisko', value: 'testnazwisko'
              - 2.times do
                %br
              .col-xs-3.text-left
                = f.label 'Email:'
              .col-xs-9.pull-left
                = f.email_field :email, :class => "form-control", :required => true, placeholder: 'email@example.com', value: 'test@o2.pl'
              - 2.times do
                %br
              .col-xs-3.text-left
                = f.label 'Waga:'
              .col-xs-9.pull-left
                = f.number_field :weight, :class => "form-control", :required => true, placeholder: 'Waga w kg', value: '123'
              - 2.times do
                %br
              .col-xs-3.text-left
                = f.label 'Wzrost:'
              .col-xs-9.pull-left
                = f.number_field :height, :class => "form-control", :required => true, placeholder: 'Wzrost w cm', value: '123'
              - 2.times do
                %br
              .col-xs-3.text-left
                = f.label 'Cel:'
              .col-xs-9.pull-left
                = f.select :target, ['Spalanie tkanki tłuszczowej', 'Wzrost masy mięśniowej'], :class => "selectpicker", :required => true
              - 2.times do
                %br
              .col-sm-offset-3.col-xs-9.text-left
                %label.checkbox-inline
                  = f.check_box :terms, value: "", :required => true
                  Wyrażam zgodę na przetwarzanie danych osobowych
                  i akceptuję 
                  = link_to 'regulamin.', '#'
            %hr
            .row
              .col-sm-offset-3.col-xs-9.text-left
                #captcha
                  = render partial: 'captcha'
            %br
              .pull-right
                = f.submit 'WYŚLIJ', :class => "btn btn-warning"
          #errors