-#%h2 Imię: #{@diet_form.first_name}
-#%h2 Nazwisko: #{@diet_form.last_name}
-#%h2 Email: #{@diet_form.email}
-#%h2 Waga: #{@diet_form.weight}
-#%h2 Wzrost: #{@diet_form.height}
-#%h1 Cel: #{@diet_form.target}
-#%h2 Imię: first_name
-#%h2 Nazwisko: last_name

%h1 cos