%h1 Cel: #{@target}
%h2 Imię: #{@first_name}
%h2 Nazwisko: #{@last_name}
%h2 Email: #{@email}
%h2 Waga: #{@weight}
%h2 Wzrost: #{@height}
%h2 Obwód pasa: #{@obwod_pasa}
%h2 Rodzaj pracy: #{@kind_of_work}
%h2 Godzina obudzenia się: #{@wake_up_time}
%h2 Godzina pójścia spać: #{@sleep_time}
%h2 Ilość treningów: #{@training_count}
%h2 Ilość posiłków: #{@meals_count}